@import "general";

.NewAnswer {
  padding: 1em;
  border: solid 1px gray;
  border-radius: 4px;

  form {
    display: flex;
    flex-direction: column;

    .submit-answer {
      margin-top: 1em;
      align-self: flex-end;
    }

    .ck.ck-editor {
      margin-bottom: 1em;
    }
  }
}
