@import "general";

.NewQuestion {
  padding: 1em;
  border: solid 1px gray;
  border-radius: 4px;
  margin: 1em;

  form {
    display: flex;
    flex-direction: column;

    .new-question-title {
      margin-bottom: 1em;
    }

    .ck.ck-editor {
      margin-bottom: 1em;
    }

    .submit-question {
      margin-top: 1em;
      align-self: flex-end;
    }
  }
}
