input, textarea {
  border: solid 1px #4285F4;
  border-radius: 4px;
  padding: 0.5em; }

input:active, button:active, textarea:active {
  outline: none; }

input:focus, textarea:focus {
  outline: none;
  box-shadow: #0d47a1 0 0 1px 1px; }

button {
  padding: 0.5em;
  border-radius: 4px;
  border: none;
  background-color: #4285F4;
  color: white;
  box-shadow: grey -1px 1px 2px 0px; }
  button:hover {
    background-color: #0d47a1; }

.NewQuestion {
  padding: 1em;
  border: solid 1px gray;
  border-radius: 4px;
  margin: 1em; }
  .NewQuestion form {
    display: flex;
    flex-direction: column; }
    .NewQuestion form .new-question-title {
      margin-bottom: 1em; }

.NewQuestion form .ck.ck-editor {
      margin-bottom: 1em; }
    .NewQuestion form .submit-question {
      margin-top: 1em;
      align-self: flex-end; }
