$primary: #4285F4;
$primary-dark: #0d47a1;

input, textarea {
  border: solid 1px $primary;
  border-radius: 4px;
  padding: 0.5em;
}

input, button, textarea {
  &:active {
    outline: none;
  }
}

button {
  padding: 0.5em;
  border-radius: 4px;
  border: none;
  background-color: $primary;
  color: white;
  box-shadow: grey -1px 1px 2px 0px;
  &:hover {
    background-color: $primary-dark;
  }
}
