@import "general";

.LoginBox {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  .login-username {
    margin-bottom: 1em;
  }

  .login-password {
    margin-bottom: 1em;
  }

  .submit-login {
    align-self: center;
  }

  .login-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}
