@import "general";

.NewAnswer {
  padding: 1em;
  border: solid 1px gray;

  form {
    display: flex;
    flex-direction: column;

    .submit-answer {
      @extend .default-button;
      align-self: center;
    }
  }
}
