@import "general";

.NewQuestion {
  padding: 1em;
  border: solid 1px gray;
  border-radius: 0.5em;
  margin :1em;
  form {
    display: flex;
    flex-direction: column;
    .new-question-title {
      margin-bottom: 1em;
    }
    .new-question-body {
      margin-bottom: 1em;
    }
    .submit-question {
      align-self: flex-end;
    }
  }
}
