@import "general";

.QuestionView {
  padding: 1em;
}




.Question {
  border: solid 1px gray;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 0.5em;

  .question-container {
    display: flex;
    flex-direction: row;

    .question-main {
      margin-left: 1em;
      flex-grow: 1;
      border-left: solid 1px lightgray;
      padding-left: 1em;
    }
  }

  .question-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border-top: solid 1px lightgray;
    padding-top: 1em;

    .asked {
      .timestamp {
        font-size: small;
        color: gray;
      }
    }

    .asked-by {
      color: gray;
      font-size: small;
    }
  }
}


.tags-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: auto;

  .tag {
    background-color: $primary;
    padding: 0.2em;
    font-size: small;
    color: white;
    margin-right: 0.5em;
    margin-left: 0.5em;
  }
}

.likes {
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;

  .like-button, .unlike-button {
    font-size: 24pt;
    background-color: transparent;
    color: black;
    padding: 0;

    &:focus {
      outline: none;
    }
  }

  .like-button {
    color: gray;
  }

  .unlike-button {
    color: gold;
  }

  .likes-number {
    color: grey;
  }

}
