@import "general";

.QuestionList {
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
}

.QuestionListItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em;
  border: solid 1px gray;
  border-radius: 4px;
  margin: 1em;

  .like-button, .unlike-button {
    font-size: 24pt;
    background-color: transparent;
    color: black;
    padding: 0;

    &:focus {
      outline: none;
    }
  }

  .like-button {
    color: gray;
  }

  .unlike-button {
    color: gold;
  }

  .likes {
    border-right: solid 1px gray;
    padding-right: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    margin-right: 1em;
  }

}

