@import "general";

.QuestionView {
  padding: 1em;
}

.Answer {
  border: solid 1px gray;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 0.5em;

  .answer-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .answered-by {
      color: gray;
      font-size: small;
    }
  }
}


.Question {
  border: solid 1px gray;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 0.5em;

  .question-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    .asked-by {
      color: gray;
      font-size: small;
    }
  }
}

.tags-container {
  display:flex;
  flex-direction: row;
  align-items: center;
  margin-right: auto;
  .tag {
    background-color: $primary;
    padding: 0.2em;
    font-size: small;
    color: white;
    margin-right: 0.5em;
  }
}
